<div class="review-of-customer-cpn">
  <!-- OLD VERSION -->
  <div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: " large"="" |replace:="" '?',="" '%3f'="" |="" replace:="" '&','%26'}}"="" data-description="{{ product.description | escape }}"></div>

  <!-- NEW BETA VERSION  -->
  <!--<div class="yotpo-widget-instance" data-yotpo-instance-id="220705" data-yotpo-product-id="{{product.id}}" data-yotpo-name="{{ product.title | escape }}" data-yotpo-url="{{ shop.url }}{{ product.url }}" data-yotpo-image-url="{{ product.featured_image | product_img_url: " large"="" |replace:="" '?',="" '%3f'="" |="" replace:="" '&','%26'}}"="" data-yotpo-description="{{ product.description | escape }}"></div>-->
  
</div>

<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/B8DH2hejoJ8EK3MgnpQSNsUi1RpdreC4PxlCZvwd" async=""></script>